ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.title h1 {
    text-align: center;
}

.logoImage img {
    width: 300px;
    height: mr-auto;
}

.head {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}
