{% extends "base.html" %}
{% block content %}
<div class="container rounded-lg bodyContainer" style="margin-top: 100px; background-color: rgb(187, 234, 199)">
    <div class="row justify-content-center text-center">
        <div class="col-md-auto font-weight-bold" style="font-size: x-large">Games</div>
    </div>
    <br>
    <div class="container-fluid" style="padding-bottom: 25px">
        <div class="row">
            <div class="col-sm-6" style="background-color: rgb(114, 230, 143); border-style: solid">
              <div class="row justify-content-center text-center">
                <div class="col-md-auto font-weight-bold" style="font-size: x-large">Number Memory Game</div>
              </div>
              <div class="row justify-content-center text-center">
                <img src="../static/gameimg.png" class="rounded float-left" alt="logo" style="width: 175px">
              </div>
              <div>
                This game will demonstrate where you are in terms of number memorization. In short, this game will starts off with a number that will dissapear from your screen.
                You will then have to write down the number in the box and click submit. If you are correct, you move on to the next number, and gain a score point. If you do not,
                you are met with a game over and that'll be it for that session. Additionally, after 3 successful guesses, the number will add on a new number to increase the challenge
                of memorization.
                <br>
                <br>
                <form action="{{ url_for('numbergame') }}" style="text-align: center">
                  <input type="submit" class="btn btn-xs btn-primary" value="Play" style="width: 100px"/>
                </form>
                <br>
                <br>
              </div>
            </div>
            <div class="col-sm-6" style="background-color: rgb(114, 230, 143); border-style: solid">
              <div class="row justify-content-center text-center">
                <div class="col-md-auto font-weight-bold" style="font-size: x-large">Coming Soon!</div>
              </div>
              <div class="row justify-content-center text-center">
                <img src="../static/gameimg.png" class="rounded float-left" alt="logo" style="width: 175px">
              </div>
              <div style="text-align: center">
                Coming Soon!
                <br>
                <br>
                <form action="" style="text-align: center">
                  <input type="submit" class="btn btn-xs btn-primary" value="Play" style="width: 100px"/>
                </form>
                <br>
                <br>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
