{% extends "base.html" %}
{% block content %}
<div class="container pt-3 rounded-lg bodyContainer" style="margin-top: 30px; background-color: rgb(187, 234, 199)">
    <div class="row justify-content-center text-center">
        <div class="col-md-auto font-weight-bold" style="font-size: x-large">Welcome to Memory Coreplex!</div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                    <div class="col">Welcome to Memory Coreplex! If you are looking for a new and fun way to help improve your memory, you've found the right place! Memory Coreplex
                        allows you to play memory games that focus on short-term memory that can assist in developing memory. You can also view your own stats OR you can see if your score
                        placed amongst the top of the leaderboard.
                        <br>
                        <br>
                        To start playing, please create a user.
                        <br>
                        You can also check out our reviews here! <a href="">Reviews</a>

                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" style="max-width: 100%">
        <div class="row head">
            <div class="col-sm bottomImage">
                <img src="../static/bottomImage1.png" class="rounded float-left" alt="logo" style="width: 250px">
            </div>
            <div class="col-sm bottomImage">
                <img src="../static/bottomImage2.png" class="rounded float-left" alt="logo" style="width: 250px">
            </div>
            <div class="col-sm bottomImage">
                <img src="../static/bottomImage3.png" class="rounded float-left" alt="logo" style="width: 250px">
            </div>
            <div class="col-sm bottomImage">
                <img src="../static/bottomImage4.png" class="rounded float-left" alt="logo" style="width: 250px">
            </div>
        </div>
    </div>
  {% endblock %}
