{% extends "base.html" %}
{% block content %}
<div class="container rounded-lg bodyContainer" style="margin-top: 100px; background-color: rgb(187, 234, 199)" onselectstart="return false">
    <div class="row justify-content-center text-center">
        <div class="col-md-auto font-weight-bold" style="font-size: x-large">Number Memory Game</div>
    </div>
    <br>
    <div class="container-fluid" style="background-color: rgb(114, 230, 143); height: auto">
        <div class="row">
            <div class="col-sm-12">
              <form id="scoreForm">
                <a style="font-size: 35px; text-decoration: underline">Score: </a>
                <a class="score" id="scoring" name="scorings" style="font-size: 35px">{{ score }}</a>
              </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 justify-content-center text-center">
              <a style="font-size: 35px">Memorize the Following Number: </a>
              <br>
              <a id="num" name="nums" style="font-size: 35px"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 justify-content-center text-center">
              <form id="userForm" style="text-align: center; visibility: hidden">
                <input id="userInput" name="userInput" type="text" onkeypress="return onlyNumberKey(event)"/>
                <input id="button" name="button" type="button" class="btn btn-xs btn-primary" value="Submit" style="width: 100px" onclick="checkInputs()"/>
              </form>
              <br>
              <a id="gameOver" name="gameOver"></a>
              <form id="submitForm" style="text-align: center; visibility: hidden" method="POST">
                {{ form.hidden_tag() }}
                <p>{{ form.score(class="form-control", style="visibility: hidden", id="userScoreSubmit", value="") }}</P>
                <p>{{ form.submit(class="btn btn-xs btn-primary", id="submitButton") }}</p>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='profile.js')}}"></script>
{% endblock %}
