{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">
{% endblock %}

{% block content %}
<div class="container rounded-lg bodyContainer" style="margin-top: 100px; background-color: rgb(187, 234, 199)">
  <div class="row justify-content-center text-center">
      <div class="col-md-auto font-weight-bold" style="font-size: x-large">User Stats</div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="container rounded-lg bodyContainer">
      {% for score in ddl %}
        {% if score.postt.display_name == current_user.display_name %}
        <div style="flex: 20%; padding: 10px; margin: 5px; background-color: rgb(89, 179, 112)">
          <p>Score: {{ score.score }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
