{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">
{% endblock %}

{% block content %}
<div class="container rounded-lg bodyContainer" style="margin-top: 100px; background-color: rgb(187, 234, 199); width: 700px">
  <div class="row justify-content-center text-center">
      <div class="col-md-auto font-weight-bold" style="font-size: x-large">User Stats</div>
  </div>
  {% for score in ddl %}   <!-- gets score data to display -->
      {% if score.postt.display_name == current_user.display_name %}
        <div class="container rounded-lg bodyContainer">
          <div class="row justify-content-center text-center">
            <div style="padding: 10px; margin: 5px; background-color: rgb(89, 179, 112); width: 500px">
              <p>Score: {{ score.score }}</p>
            </div>
          </div>
        </div>
      {% endif %}
  {% endfor %}
</div>
{% endblock %}
