{% extends "base.html" %}
{% block content %}
<div class="container pt-3 rounded-lg bodyContainer" style="margin-top: 100px; background-color: rgb(187, 234, 199)">
    <div class="row justify-content-center text-center">
        <div class="col-md-auto font-weight-bold" style="font-size: x-large">About</div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                    <div class="col">Memory games can be played to assist in the development of many brain functions, including but not limited to,
                      attention, concentration, focus, and short-term memory. Memory games make individuals think about their choices and allow
                      them to use critcal thinking. This can help develop their attention to detail. Short-term memory is a key to playing memory
                      games and playing them often will imrpove this function. Along with an improved short-term memory, one's long term memory
                      can also be improved. Memory games help boost the short-term memory and allow players to think critically of their next move
                      when playing a game.
                      <br>
                      <br>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
